<app-menu></app-menu>
<div class="container">
    <h2 align=center class="mt-5 mb-5">Consumo</h2>

    <table class="d-flex justify-content-center mb-3">
        <tbody>
            <!-- listar os consumos e atraves dele encontrar os dados da receita -->
            <div *ngFor="let item of listConsumo; let i = index">
                <tr>
                    <div class="mb-2 row">
                        <div class="col">
                            <label for="titulo" class="form-label">Receita</label>
                            <input class="form-control" type="text" name="titulo" id="titulo" [value]="tituloReceita(item.id, item.dataHora)" readonly>
                        </div>
                        <div class="col">
                            <label for="horario" class="form-label">Horário</label>
                            <input type="text" name="horario" id="horario" class="form-control"
                                [value]="horarioReceita()" readonly>
                        </div>
                        <div class="col">
                            <label for="data" class="form-label ms-3">Data do Consumo</label>
                            <input type="text" name="data" id="data" class="form-control" [value]="item.dataHora" readonly>
                        </div>
                        <div class="col mt-4">
                            <button (click)="consultarReceita(idReceitaTemp)" type="button"
                                class="btn btn-secondary ms-4">Consultar Receita</button>
                        </div>
                    </div>
                </tr>
                <hr>
            </div>
        </tbody>
    </table>

</div>