<div class="container">
    <h2 align=center class="mt-5 mb-5">Buscar Receitas</h2>

    <form class="form" (ngSubmit)="buscar()">
        <div class="row d-flex justify-content-center mb-3">
            <div class="col-8">
                <label class="form-label" for="ingrediente">Ingrediente</label>
                <input class="form-control" type="text" name="ingrediente" id="ingrediente"
                    placeholder="Adicione um ingrediente a busca" [(ngModel)]="ingrediente"
                    (keyup.enter)="onEnter($event)">
            </div>
        </div>

        <table class="d-flex justify-content-center mb-3">
            <tbody>
                <div *ngFor="let item of array; let i = index">
                    <tr class="mb-2 col-8">
                        <td class="mx-auto">
                            <input class="form-control" type="text" [value]="item">
                        </td>
                        <td class="mx-auto">
                            <button (click)="removerIngrediente(item)" type="button"
                                class="btn btn-outline-secondary">Remover</button>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>

        <div class="d-grid col-8 mx-auto">
            <button type="submit" class="btn btn-warning">Buscar</button>
        </div>
    </form>
</div>