<app-menu></app-menu>
<div class="container">
    <h2 align=center class="mb-5 mt-5">Consultar Receita</h2>

    <form class="form">
        <div class="row mb-3">
            <div class="col-4">
                <label class="form-label" for="tilulo">Titulo</label>
                <input class="form-control" type="text" name="tilulo" id="tilulo" [value]="receita.titulo" readonly>
            </div>
            <div class="col">
                <label class="mx-auto form-label" for="rendimento">Rendimento (porções)</label>
                <input class="form-control" type="text" name="rendimento" id="rendimento" [value]="receita.rendimento"
                    readonly>
            </div>
            <div class="col">
                <label class="mx-auto form-label" for="tempo">Tempo (min)</label>
                <input class="form-control" type="number" name="tempo" id="tempo" [value]="receita.tempo" readonly>
            </div>
            <div class="col">
                <label class="mx-auto form-label" for="horario">Horario</label>
                <input class="form-control" type="text" name="horario" id="horario" [value]="receita.horario" readonly>
            </div>
        </div>

        <hr>

        <div class="row mb-3">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item" *ngFor="let item of ingredientes; let i = index">
                    <div class="d-flex w-100 justify-content-between">
                        <span>{{ item.descricao }}</span>
                        <small>{{ array[i].quantidade }}</small>
                    </div>
                    <small class="mb-1">Calorias: {{ item.calorias }} kcal</small>
                </li>
            </ol>
        </div>

        <div class="row mb-3">
            <div class="form-floating">
                <textarea class="form-control" id="preparo" readonly>{{ receita.preparo }}</textarea>
                <label for="preparo">Modo de Preparo</label>
            </div>
        </div>

        <div class="row mt-3 mb-5 d-flex justify-content-between" *ngIf="nivel == 'PACIENTE'">
            @if (btnFavoritar) {
            <div class="d-grid col-3">
                <button type="button" class="btn btn-warning" id="favoritar" (click)="favoritar()"
                    [hidden]="!btnFavoritar">Favoritar</button>
            </div>
            } @else {
            <div class="d-grid col-3">
                <button type="button" class="btn btn-warning" id="desfavoritar" (click)="desfavoritar()"
                    [disabled]="btnFavoritar || btnDesabilitarDesfavoritar">Desfavoritar</button>
            </div>
            }
            <div class="d-grid col-3">
                <button type="button" class="btn btn-secondary" id="registrarConsumo"
                    (click)="registrarConsumo()">Registrar Consumo</button>
            </div>
        </div>

        <div class="row mt-3 mb-5 d-flex justify-content-between" *ngIf="nivel == 'NUTRICIONISTA'">
            <div class="d-grid col-3">
                <button type="button" class="btn btn-warning" id="editar" (click)="editar()">Editar</button>
            </div>
            <!-- <div class="d-grid col-3">
                <button type="button" class="btn btn-danger" id="excluir" (click)="excluir()">Excluir</button>
            </div> -->
        </div>
    </form>
</div>