<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Guia Nutricional</h1>
    <form>
        <label for="pacienteId">ID do Paciente:</label>
        <input type="text" id="pacienteId" name="pacienteId" required>
        
        <label for="planoNutricional">Plano Nutricional:</label>
        <textarea id="planoNutricional" name="planoNutricional" required></textarea>
        
        <button type="Enviar">Enviar</button>
    </form>
</body>
</html>
